DATABASE_URL=postgresql://prasanna_kumar_kommiri_user:2RyXUphkUzQAQIIjaSa7HtqYDAcU7UEu@dpg-d7pkbtojs32c73dus6hg-a/prasanna_kumar_kommiri
SECRET_KEY=2RyXUphkUzQAQIIjaSa7HtqYDAcU7UEu
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30